extends ../_layouts/base

block config
  - var baseUrl = '../';
  
block content
  main.listado
    .eg-grid
      img.eg-cell__1-2.eg-row__1-2(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-1.eg-row__1-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__4-1.eg-row__1-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-1.eg-row__2-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__4-1.eg-row__2-1(src="https://picsum.photos/600/400", alt="")

    .eg-grid
      div.eg-grid.eg-cell__1-3.eg-row__1-2
        img.eg-cell__1-2.eg-row__1-1(src="https://picsum.photos/600/400", alt="")
        img.eg-cell__3-2.eg-row__1-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__1-1.eg-row__3-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__2-1.eg-row__3-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-1.eg-row__3-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__1-1.eg-row__4-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__2-1.eg-row__4-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-1.eg-row__4-2(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__1-1.eg-row__5-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__2-1.eg-row__5-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__1-1.eg-row__6-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__2-1.eg-row__6-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-1.eg-row__6-1(src="https://picsum.photos/600/400", alt="")
      
      <!--modulo derecha-->
      div.eg-cell__4-1.eg-row__1-6.eg-grid__side
        img.eg-cell__1.eg-row__1-1(src="https://via.placeholder.com/300x250?text=300x250+MPU", alt="")
        img.eg-cell__1.eg-row__2-5(src="https://via.placeholder.com/300x600?text=300x600+Half+Page+Ad", alt="")
        img.eg-cell__1.eg-row__3-5(src="https://via.placeholder.com/300x600?text=300x600+Half+Page+Ad", alt="")

    .eg-grid
      img.eg-cell__1-2.eg-row__1-2(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-1.eg-row__1-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-1.eg-row__2-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-1.eg-row__3-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__1-1.eg-row__3-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__2-1.eg-row__3-1(src="https://picsum.photos/600/400", alt="")
      
      <!--modulo derecha-->
      div.eg-cell__4-1.eg-row__1-3.eg-grid__side
        img.eg-cell__1-1.eg-row__1-1(src="https://via.placeholder.com/300x250?text=300x250+MPU", alt="")
        img.eg-cell__1-1.eg-row__2-1(src="https://via.placeholder.com/300x250?text=300x250+MPU", alt="")
      img.eg-cell__1-3.eg-row__4-1(src="https://via.placeholder.com/468x60?text=468x60+Full+Banner", alt="")
      img.eg-cell__1-1.eg-row__5-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__2-1.eg-row__5-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-1.eg-row__5-1(src="https://picsum.photos/600/400", alt="")
      

