extends ../_layouts/base

block config
  - var baseUrl = '../';
  
block content
  main.home
    .eg-grid
      img.eg-cell__1-3.eg-row_1-3(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-3.eg-row_1-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__4-4.eg-row_1-1(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__3-3.eg-row_2-2(src="https://picsum.photos/600/400", alt="")
      img.eg-cell__4-5.eg-row_2-2(src="https://picsum.photos/600/400", alt="")
