.nota {
  max-width: 80%;
  margin: 2rem auto;

  &__heading {
    max-width: 90%;

    &-category {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $mainColor;
      font-family: $altFont;
      text-transform: uppercase;
      color: $white;
      padding: .2rem .4rem;
    }

    &-subtitle {
      color: $midGray;
      font-weight: 500;
      line-height: 1.2rem;
      font-size: $xs;
    }

    &-author {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      margin: 1rem 0;

      p {
        margin: 0;
        font-size: $xs;
        font-weight: 500;
        text-decoration: underline $midGray;
      }

      span {
        font-size: $xxs;
        color: $midGray;
        &::before {
          content: '•';
          margin-right: .25rem;
        }
      }
    }
    
    &-hr {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 40%;
      gap: .2rem;

      &--1 {
        width: 90%;
        background-color: $mainColor;
        height: 3px;
        border-color: transparent;
        margin: 0;
      }

      &--2 {
        width: 10%;
        background-color: $egYellow;
        height: 3px;
        border-color: transparent;
        margin: 0;
      }
    }
  }

  &__main {
    &-legend {
      border-bottom: 1px solid $lightGray;
      padding: .25rem 0 .5rem 0;

      &--title {
        margin: 0;
        font-size: $xs;
        font-weight: 500;
      }

      span {
        margin-right: .25rem;
        font-size: $xs;
        padding-bottom: .25rem;
      }
    }

    &-widget {
      height: fit-content;
      margin-bottom: 1.5rem;
    }

    &-side {
      display: flex;
      flex-direction: column;
      justify-self: center;
    }

    &-text {
      p {
        font-size: $sm;
        margin: 0 0 1.5rem 0;
        line-height: 1.5rem;
      }
    }

    &-tags {
      display: flex;
      flex-direction: row;
      gap: .5rem;
      align-items: center;

      &--type1 {
        font-family: $altFont;
        text-transform: uppercase;
        font-size: $xxl;
        text-decoration: underline $mainColor 4px;
        margin-right: 2rem;
      }

      &--type2 {
        font-family: $altFont;
        text-transform: uppercase;
        background-color: $egYellow;
        padding: .2rem .4rem;
      }
    }

    img {
      height: auto;
    }
  }
}

._icon {
  width: fit-content;
  height: fit-content;
}