extends ../_layouts/base

block config
  - var baseUrl = '../';
  
block content
  main.home
    .home__section.eg-grid
      .home__section-img.eg-cell__1-1.eg-row__1-1
        img(src="https://picsum.photos/600/400", alt="")
        .home__section-banner 
          span Riv
          img(src="/", alt="")
          .home__section-banner--number
            span 4
            span 0
          img(src="/", alt="")
          span Pro
        p.home__section-alt Lorem ipsum dolor sit amet consectetur adipisicing elit.
      .home__section-img.eg-cell__1-1.eg-row__2-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur adipisicing elit.
      .home__section-subtitle.eg-cell__1-1.eg-row__3-1
        p ---Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus.
      .home__section-container.eg-cell__2-2.eg-row__1-4
        img(src="https://picsum.photos/500/500", alt="")
        .home__section-banner 
          span Riv
          img(src="/", alt="")
          .home__section-banner--number
            span 4
            span 0
          img(src="/", alt="")
          span Pro
        .home__section-subtitle.eg-cell__2-2.eg-row__5-1
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consectetur.
        .home__section-subtitle.eg-cell__2-2.eg-row__6-1
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consectetur.
      img.eg-cell__4-1.eg-row__1-2(src="https://via.placeholder.com/300x500?text=300x500+Half+Page+Ad", alt="")
      img.eg-cell__4-1.eg-row__3-2(src="https://via.placeholder.com/300x250?text=300x250+MPU", alt="")