extends ../_layouts/base

block config
  - var baseUrl = '../';
  
block content
  main.home
    .home__section.eg-grid
      .home__section-img.eg-cell__1-1.eg-row__1-1
        img(src="https://picsum.photos/600/400", alt="")
        .home__section-banner 
          span Riv
          img(src="/", alt="")
          .home__section-banner--number
            span 4
            span.home__section-banner--div
            span 0
          img(src="/", alt="")
          span Pro
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__1-1.eg-row__2-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
        .home__section-subtitle
          p Lorem ipsum dolor sit amet consectetur.
      .home__section-container.eg-cell__2-2.eg-row__1-4
        img(src="https://picsum.photos/500/500", alt="")
        .home__section-banner 
          span Riv
          img(src="/", alt="")
          .home__section-banner--number
            span 4
            span.home__section-banner--div
            span 0
          img(src="/", alt="")
          span Pro
        .home__section-subtitle
          p Lorem ipsum dolor sit amet consectetur.
        .home__section-subtitle
          p Lorem ipsum dolor sit amet consectetur.
      .eg-cell__4-1.eg-row__1-2
        img(src="https://via.placeholder.com/300x500?text=300x500+Half+Page+Ad", alt="")
      .eg-cell__4-1.eg-row__3-2
        img(src="https://via.placeholder.com/300x250?text=300x250+MPU", alt="")
      .eg-cell__1-4
        img(src="https://via.placeholder.com/468x40?text=468x40+Full+Banner", alt="")
    
    //Segundo bloque
    .home__section.eg-grid
      .home__section-title.eg-cell__1-3.eg-row__1-1
        .home__section-title--red
          .home__section-title--text
            h1 Fútbol
      .home__section-container.eg-cell__1-2.eg-row__2-3
        img(src="https://picsum.photos/500/500", alt="")
        .home__section-subtitle Román es la nueva incorporación de Boca.
      .home__section-img.eg-cell__3-1.eg-row__2-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
        .home__section-subtitle
          p Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__3-1.eg-row__3-1
        img(src="https://picsum.photos/600/400", alt="")
        .home__section-banner 
          span Riv
          img(src="/", alt="")
          .home__section-banner--number
            span 4
            span.home__section-banner--div
            span 0
          img(src="/", alt="")
          span Pro
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-sub.eg-cell__4-1.eg-row__1-1
        .home__section-title--text
          h1 Posiciones
        span Estadísticas
      .home__section-img.eg-cell__1-1.eg-row__5-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__1-1.eg-row__6-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__1-1.eg-row__7-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__2-1.eg-row__5-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__2-1.eg-row__6-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__2-1.eg-row__7-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__3-1.eg-row__5-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .eg-cell__3-1.eg-row__6-2
        img(src="https://via.placeholder.com/300x500?text=300x500+Half+Page+Ad", alt="")
      .home__section-side.eg-cell__4-1.eg-row__2-6
        img(src="https://via.placeholder.com/300x500?text=300x500+Half+Page+Ad", alt="")
        img(src="https://via.placeholder.com/300x250?text=300x300+MPU", alt="")
        img(src="https://via.placeholder.com/300x700?text=300x700+Half+Page+Ad", alt="")
      
    //Tercer bloque
    .home__section.eg-grid
      .home__section-title.eg-cell__1-4.eg-row__1-1
          .home__section-title--black
            .home__section-title--text
              h1 Memoria emotiva
      .home__section-img--container.eg-cell__1-4.eg-row__2-1
        img(src="https://picsum.photos/500/500", alt="")
        img(src="https://picsum.photos/500/500", alt="")

    //Cuarto bloque

    .home__section.eg-grid
      .home__section-title.eg-cell__1-3.eg-row__1-1
        .home__section-title--red
          .home__section-title--text
            h1 Polideportivo

      .home__section.eg-grid.eg-cell__1-3.eg-row__2-3
        .eg-cell__1-2.rg-row__1-1
          img(src="https://picsum.photos/500/500", alt="")
        .eg-cell__3-2.rg-row__1-1
          img(src="https://picsum.photos/500/500", alt="")
      
      .home__section-img.eg-cell__1-1.eg-row__5-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__1-1.eg-row__6-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__1-1.eg-row__7-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__2-1.eg-row__5-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__2-1.eg-row__6-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__2-1.eg-row__7-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__3-1.eg-row__5-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__3-1.eg-row__6-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-img.eg-cell__3-1.eg-row__7-1
        img(src="https://picsum.photos/600/400", alt="")
        p.home__section-alt Lorem ipsum dolor sit amet consectetur.
      .home__section-side.eg-cell__4-1.eg-row__1-7
        img(src="https://via.placeholder.com/300x250?text=300x300+MPU", alt="")
        img(src="https://via.placeholder.com/300x500?text=300x500+Half+Page+Ad", alt="")
        img(src="https://via.placeholder.com/300x700?text=300x700+Half+Page+Ad", alt="")
      .eg-cell__1-4
        img(src="https://via.placeholder.com/468x50?text=468x50+Full+Banner", alt="")

    //Quinto bloque

    .home__section.eg-grid
      .home__section-img.eg-cell__1-3.eg-row__1-5
        img(src="https://picsum.photos/600/400", alt="")
      .home__section-info.eg-cell__4-1.eg-row__1-1
        span.home__section-info--bg
          span 1992
        p carrizo y yhasin: encuentro en lima
      .home__section-info.eg-cell__4-1.eg-row__2-1
        span.home__section-info--bg
          span 1976
        p george foreman, campeon del mundo
      .home__section-info.eg-cell__4-1.eg-row__3-1
        span.home__section-info--bg
          span 1976
        p george foreman, campeon del mundo
      .home__section-info.eg-cell__4-1.eg-row__4-1
        span.home__section-info--bg
          span 1991
        p san lorenzo campeón de la copa mercosur
      .home__section-info.eg-cell__4-1.eg-row__5-1
        span.home__section-info--bg
          span 1962
        p river le gana al santos de pele